<!DOCTYPE html>
<html ng-app="demo">
<head>
    <title>MFEM</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="angular-route.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
<div ng-controller="Controller">
    <h3>Hier sollten alle Fragen zu den gewählten Anforderungen kommen:</h3>
    <div ng-repeat="x in result">
        <span>
            {{x[0].question}}
        </span>
        <!--<div ng-repeat="y in x[1]">-->
            <select id="ans" ng-model="ans" ng-options="y.content for y in x[1] track by y._links.self.href"></select>
            <!--<label for="y._links.self.href"> {{y.content}}</label><br>-->
        <!--</div>-->
    </div>
    <p><button class="myButton" onclick="window.location.href='#!main'" style="vertical-align:middle"><span>Evaluation auswerten</span></button></p>
    <p><button class="myButton" ng-click="show()" style="vertical-align:middle"><span>Fragen anzeigen</span></button></p>
</div>
</body>
</html>