<!DOCTYPE html>
<html ng-app="demo">
<head>
    <title>MFEM</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="angular-route.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
<div ng-controller="Controller">
        <br>
        <h2>Neue Klassifizierung</h2>

    <div class="container1">
        <form>
            <ul class="flex-outer">
                <li>
                    <label>Name der Klassifizierung:</label>
                    <input type="text" id="Name" name="Name" ng-model="name">
                </li>
                <li>
                    <label>Beschreibung der Klassifizierung</label>
                    <input type="text" id="Beschr" name="Beschr" ng-model="description">
                </li>
                <li>
                    <p><button class="myButton" ng-click="saveClassi(name, description)" onclick="window.location.href='#!classiReq';window.location.reload();" style="vertical-align:middle"><span>Anforderungen hinzuf&uumlgen >></span></button></p>
                </li>
            </ul>
        </form>
    </div>
</div>
</body>
</html>