<!DOCTYPE html>
<html ng-app="demo">
<head>
    <title>MFEM</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="angular-route.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
<div ng-controller="Controller">
    <div ng-init="getMetrics()">
        <br>
        <h2>Neue Frage</h2>

    <div class="container1">
        <form>
            <ul class="flex-outer">
                <li>
                    <label>Frage:</label>
                    <input type="text" id="Frage" name="Frage" ng-model="question">
                </li>
                <li>
                    <label>Metrik:</label>
                    <select id="metrics" ng-model="metric" ng-options="m.description for m in metrics track by m._links.self.href"></select>
                </li>
                <li>
                    <!--button class="myButton" ng-click="saveClassiQuest(question)" onclick="window.location.href='#!classiReq'" style="vertical-align:middle"><span>weitere Anforderung >></span></button-->
                    <button class="myButton" ng-click="saveClassiQuest(question)" onclick="window.location.href='#!main'" style="vertical-align:middle"><span>Frage speichern</span></button>
                </li>
            </ul>
            <!--Fragen werden bei Klick nicht gespeichert>
<!--td><p><button class="myButton" ng-click="saveClassiQuest(question)" onclick="window.location.href='#!classiQuest'" style="vertical-align:middle"><span>weitere Frage >></span></button></p></td-->
        </form>
    </div>
</div>
</div>
</body>
</html>