<!DOCTYPE html>
<html ng-app="demo">
<head>
    <title>MFEM</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="angular-route.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
<div ng-controller="Controller">
        <br>
        <h2>Neue Anforderung</h2>

    <div class="container1">
        <form>
            <ul class="flex-outer">
                <li>
                    <label>Anforderung:</label>
                    <input type="text" id="Name" name="Name" ng-model="content">
                </li>
                <li>
                    <label>Priorität:</label>
                    <select id="prio" name="prio">
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                    </select>
                </li>
                <li>
                    <p><div ng-controller="Controller"><button onclick="window.location.href='#!classiQuest'" ng-click="saveClassiReq(content)" class="myButton" style="vertical-align:middle"><span>Weiter zu Fragen >></span></button></div></p>
                </li>
            </ul>
        </form>
    </div>
</div>
</body>
</html>