<!DOCTYPE html>
<html ng-app="demo">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>MFEM</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="angular-route.js"></script>
    <script src="app.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="RadarChart.js"></script>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
<div id="example1">
    <h1>Microservice Framework Evaluation Method</h1>
        <div ng-controller="Controller">
            <div ng-init="getCats();getFramework();getFrames();update()">
         <div class="containerRadar">
                <div class="itemRadar">
                    <div id="radar">
                        <div id="chart"></div>
                    </div>
                    <button class="myButton" onclick="window.close()" style="vertical-align:middle"><span>Zurück</span></button>
                </div>
                <div class="itemRadar">
                    <p>Frameworks vergleichen: </p>
                    <div ng-repeat="frame in frameworks">
                        <label>
                            <input type="checkbox" id="frame"  name="framework" value="{{frame._links.self.href}}">
                            {{frame.nameFW}}
                        </label>
                    </div>
                    <br>
                    <button id="update" class="myButton" ng-click="compare()" style="vertical-align:middle"><span>Vergleichen</span></button>
                </div>
                <script>
                    //Diagramm
                    var w = 500,
                        h = 500;
                    var colorscale = d3.scale.category10();
                    //Data
                    var results = sessionStorage.getItem('result');
                    results = results.split(",");
                    var d = [];
                    for(var i = 0; i < (results.length/6); i++) {
                        d.push([
                            {axis:"{{catego[0].category}}",value:results[i*6+0]},
                            {axis:"{{catego[1].category}}",value:results[i*6+1]},
                            {axis:"{{catego[2].category}}",value:results[i*6+2]},
                            {axis:"{{catego[3].category}}",value:results[i*6+3]},
                            {axis:"{{catego[4].category}}",value:results[i*6+4]},
                            {axis:"{{catego[5].category}}",value:results[i*6+5]}
                        ]);
                    }
                    //Legend titles
                    var frameworks = sessionStorage.getItem('frameworks');
                    frameworks = frameworks.split(",");
                    var LegendOptions = [];
                    for (var j = 0; j < frameworks.length; j++) {
                        LegendOptions.push(frameworks[j]);
                    }
                    //Options for the Radar chart, other than default
                    var mycfg = {
                        w: w,
                        h: h,
                        maxValue: 1.0,
                        levels: 10,
                        ExtraWidthX: 300
                    };
                    //Call function to draw the Radar chart
                    //Will expect that data is in %'s
                    RadarChart.draw("#chart", d, mycfg);
                    //Legende
                    var svg = d3.select('#radar')
                        .selectAll('svg')
                        .append('svg')
                        .attr("width", w+300)
                        .attr("height", h);
                    //Create the title for the legend
                    var text = svg.append("text")
                        .attr("class", "title")
                        .attr('transform', 'translate(90,0)')
                        .attr("x", w - 70)
                        .attr("y", 10)
                        .attr("font-size", "12px")
                        .attr("fill", "#000000")
                        .text("Framework");
                    //Initiate Legend
                    var legend = svg.append("g")
                        .attr("class", "legend")
                        .attr("height", 100)
                        .attr("width", 200)
                        .attr('transform', 'translate(90,20)')
                    ;
                    //Create colour squares
                    legend.selectAll('rect')
                        .data(LegendOptions)
                        .enter()
                        .append("rect")
                        .attr("x", w - 65)
                        .attr("y", function(d, i){ return i * 20;})
                        .attr("width", 10)
                        .attr("height", 10)
                        .style("fill", function(d, i){ return colorscale(i);})
                    ;
                    //Create text next to squares
                    legend.selectAll('text')
                        .data(LegendOptions)
                        .enter()
                        .append("text")
                        .attr("x", w - 52)
                        .attr("y", function(d, i){ return i * 20 + 9;})
                        .attr("font-size", "11px")
                        .attr("fill", "#404040")
                        .text(function(d) { return d; })
                    ;
                </script>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>