h1 {
    font-family: Rockwell, Georgia, "Arial", Times, serif;
    font-size: 3em;
    line-height: 0.5em;
    margin: 0.3em 0.3em 1em 0.3em;
    color: lightgray;
    text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 0.5) 2px 2px, rgba(0, 0, 0, 0.3) -1px -2px;
}
h2 {
    font-family: Rockwell, Georgia, "Arial", Times, serif;
    font-size: 2em;
    line-height: 0.5em;
    margin: 0.3em 0.3em 1em 0.3em;
    color: darkblue;
    text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 0.5) 2px 2px, rgba(0, 0, 0, 0.3) -1px -2px;
}
.containerRadar {
    display: flex;
    width:100%;
    height:800px;
}
.itemRadar {
    width:700px;
    height:700px;
    margin: 20px;
}
.containerHeader {
    background-image: url(image/headerL.jpg);
    min-height: 200px;
}
.container {
    display: block;
}
.itemHeader{
    flex-basis: 150px;
    flex-grow:1;
    flex-shrink: 0;
    margin: 20px;
}
.itemHeader:nth-child(1){
    margin-left: 30px;
}
/*Feld mit Buttons*/
.item {
    flex-basis: 150px;
    flex-grow:1;
    flex-shrink: 0;
    margin: 10px;
    margin-left: 20px;
}
.item:nth-child(1){
    max-width: 150px;
    margin-left: 30px;
}
.itemContent {
    flex-basis: 100px;
    flex-grow:1;
    flex-shrink: 0;
    max-width: 500px;
    /*möglicherweise max-height für Diagramm anpassen*/
    margin: 10px;
    margin-left: 20px;
}
.containerBody{
    display: flex;
}

home-button{
    background-image: url(image/logoMFEM.jpg);
    display: inline-block;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: lightslategray;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 15px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#example1 {
    background-image: url(image/steine.png), url(image/hintergrund.jpg);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 10px;
}
#example2 {
    background-image: url(image/headerL.jpg), url(image/logoMFEM.jpg);
    background-position: left top, left top;
    background-repeat: no-repeat, no-repeat;
    padding: 10px;
}

/*table{*/
    /*width: 65%;*/
/*}*/
.myButton {
    -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
    -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
    background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
    background-color:#7892c2;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:19px;
    padding:12px 29px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    margin: 3px;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
    background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
    background-color:#476e9e;
}
.myButton:active {
    position:relative;
    top:1px;
}
.flex-outer,
.flex-inner {
    list-style-type: none;
    padding: 0;
}

.flex-outer {
    max-width: 800px;
    margin: 0 auto;
}

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-inner {
    padding: 0 8px;
    justify-content: space-around;
}

.flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
}

.flex-outer > li > label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
    flex: 1 0 220px;
}

.flex-outer li p {
    margin: 0;
}

.flex-outer li input:not([type='select']),
.flex-outer li textarea {
    padding: 10px;
    border: none;
}
.flex-inner li {
    width: 100px;
}

fieldset{
    padding: 16px;
    border: 0px solid ;
}
.addfields{
    margin: 10px 0;
}

.remove{
    background: #C76868;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 21px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;
}
input[type="text"],
select{
    padding:5px;
}