<!DOCTYPE html>
<html ng-app="demo">
<head>
    <title>MFEM</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="angular-route.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
<div ng-controller="Controller">
        <h3>Anforderung wählen:</h3>
        <div ng-repeat="x in req">
            <input type="radio" id="{{x.content}}" name="Requirement" value="{{x.content}}">
            <label for="{{x.content}}">{{x.content}}</label>
        </div>
    <p><button class="myButton" ng-click="checkReqSaveQuest()" onclick="window.location.href='#!main'" style="vertical-align:middle"><span>Vorgang abschließen</span></button></p>
</div>
</body>
</html>