<!DOCTYPE html>
<html ng-app="demo">
<head>
    <title>MFEM</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="angular-route.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
<div ng-controller="Controller">
    <table>
        <br>
        <h2>Neue Klassifizierung</h2>
        <tr>
            <td><label>Name der Klassifizierung: </label></td>
            <td><input type="text" id="Name" name="Name" ng-model="name"></td>
        </tr>
        <tr>
            <td><label>Beschreibung der Klassifizierung: </label></td>
            <td><input type="text" id="Beschr" name="Beschr" ng-model="description"></td>
        </tr>
    </table>
    <p><button class="myButton" ng-click="saveClassi(name, description)" onclick="window.location.href='#!classiReq'" style="vertical-align:middle"><span>Anforderungen hinzuf&uumlgen >></span></button></p>
</div>
</body>
</html>