<!DOCTYPE html>
<html ng-app="demo">
<head>
    <title>MFEM</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="angular-route.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
<div ng-controller="Controller">
    <table>
        <br>
        <h2>Neues Framework</h2>
        <tr>
            <td><label>Name des Frameworks: </label></td>
            <td><input type="text" id="Name" name="Name" ng-model="name"></td>
        </tr>
        <tr>
            <td><label>Beschreibung des Frameworks: </label></td>
            <td><input type="text" id="Beschr" name="Beschr" ng-model="description"></td>
        </tr>
        <tr>
            <td><label>Klassifizierung: </label></td>
            <td><select id="classisFrame" ng-model="classi" ng-options="c.name for c in classis track by c._links.self.href"></select></td>
        </tr>
    </table>
<p><button class="myButton" ng-click="saveFrame(name, description)" onclick="window.location.href='#!evaReq'" style="vertical-align:middle"><span>Anforderungen priorisieren >></span></button></p>
</div>
</body>
</html>