<!DOCTYPE html>
<html ng-app="demo">
<head>
    <title>MFEM</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="angular-route.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
<div ng-controller="Controller">
        <br>
        <h2>Neues Framework</h2>
    <div class="container1">
        <form>
            <ul class="flex-outer">
                <li>
                    <label>Name des Frameworks:</label>
                    <input type="text" id="Name" name="Name" ng-model="name">
                </li>
                <li>
                    <label>Beschreibung des Frameworks:</label>
                    <input type="text" id="Beschr" name="Beschr" ng-model="description">
                </li>
                <li>
                    <label>Klassifizierung</label>
                    <select id="classisFrame" ng-model="classi" ng-options="c.name for c in classis track by c._links.self.href"></select>
                </li>
                <li>
                    <p><button class="myButton" ng-click="saveFrame(name, description)" onclick="window.location.href='#!evaReq'" style="vertical-align:middle"><span>Anforderungen priorisieren >></span></button></p>
                </li>
            </ul>
        </form>
    </div>
</div>
</body>
</html>