<!DOCTYPE html>
<html ng-app="demo">
<head>
    <title>MFEM</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="angular-route.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <br>
    <h2>Neue Metrik</h2>
    <div class="container1">
        <form>
            <ul class="flex-outer">
                <li>
                    <label>Beschreibung</label>
                    <input type="text" id="Name" name="Name" ng-model="description">
                </li>
                <li>
                    <label>Antwort 1:</label>
                    <input type="text" id="A1" name="Name" ng-model="a1">
                </li>
                <li>
                    <label>Antwort 2:</label>
                    <input type="text" id="A2" name="Name" ng-model="a2">
                </li>
                <li>
                    <label>Antwort 3:</label>
                    <input type="text" id="A3" name="Name" ng-model="a3">
                </li>
                <li>
                    <p><div ng-controller="Controller"><button class="myButton" onclick="window.location.href='#!main';window.location.reload();" ng-click="saveMetric(description, a1, a2, a3)" style="vertical-align:middle"><span>speichern</span></button></div></p>
                </li>
            </ul>
        </form>
    </div>
</body>
</html>